# Connection PostgreSQL
DATABASE_URL="postgresql://postgres:senha@localhost:5432/tnv"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="sua-senha"
POSTGRES_DB="tnv"

# Logger
LOG_LEVEL = "DEBUG"
NODE_ENV = "development"

# Mongoose
MONGO_URI = "sua-string-de-conexao-aqui"

# JsonWebToken
JWT_SECRET = "seu-token-super-secreto"
JWT_EXPIRES_IN = 3600